.row
    .col.s12(ng-repeat="event in eventsVm.events")
        .card
            .card-image.waves-effect.waves-block.waves-light
                img.activator(ng-src="{{ event.image ? event.image : '/static/images/default_event_image.jpg' }}")

            .card-content
                a(ng-href="{{ event.url }}", target="_blank")
                    span.my-card-title.teal-text {{ event.title }}
                .row.no-bottom-margin
                    .col.s12
                        .col.s3.push-s9
                            p איפה:
                        .col.s9.pull-s3
                            p {{ event.location }}
                    .col.s12
                        .col.s3.push-s9
                            p מתי:
                        .col.s9.pull-s3
                            p {{ event.start_time | amCalendar:Date():{'sameElse': 'MM/DD/YYYY בשעה HH:mm'} }}
                    .col.s12
                        .col.s3.push-s9
                            p מחיר:
                        .col.s9.pull-s3
                            p {{ event.price | price }}
                    i.material-icons.activator.pointer-cursor.left expand_more

            .card-reveal
                .row
                    span.card-title
                        i.material-icons.right close
                    a(ng-href="{{ event.url }}", target="_blank")
                        span.my-card-title.teal-text {{ event.title }}
                .row
                    hm-read-more(hm-text="{{ event.description }}", hm-limit="200",
                        hm-more-text="קרא עוד", hm-less-text="פחות", hm-link-class="teal-text")

