ul#filter-side-nav.side-nav(ng-controller='FilterController as filterVm')
    li
        header סינון
    li
        .divider

    li.no-padding
        ul.collapsible
            li
                a.collapsible-header
                    | קטגוריות
                    i.material-icons.right-icon music_note
                .collapsible-body
                    ul
                        li(ng-repeat='category in filterVm.categories')
                            a.waves-effect.waves-light(ng-click="filterVm.filterByCategory(category)")
                                | {{ category.display_name }}
                            // TODO: filter by many types (radio-buttons)

            li
                a.collapsible-header
                    | מתי ?
                    i.material-icons.right-icon access_time
                .collapsible-body
                    ul
                        li(ng-repeat="day in filterVm.week")
                            a.waves-effect.waves-light(ng-click="filterVm.filterByDay(day)")
                                | {{ day | calendar }}

