#wrapper
  padding-right 10px
  padding-left 10px

#filter-button
  padding 0 2rem
  cursor pointer

.right-icon
  float right !important
  margin-right 0 !important
  margin-left 1rem !important

li header
  padding-right 2rem
