<ion-card>
  <img src="{{ event.image }}">

  <ion-card-content>
    <ion-card-title>
      <a *ngIf="event.url" href="{{ event.url }}" color="secondary" target="_blank">{{ event.title }}</a>
      <span *ngIf="!event.url" color="secondary">{{ event.title }}</span>
    </ion-card-title>

    <ion-row>
      <ion-icon name="pin"></ion-icon> &nbsp;
      <h2><span>איפה:</span>
        {{ event.location }}
      </h2>
    </ion-row>
    <ion-row>
      <ion-icon name="time"></ion-icon> &nbsp;
      <h2><span>מתי:</span>
        {{ event.startTime | calendar }}
      </h2>
    </ion-row>
    <ion-row>
      <ion-icon name="card"></ion-icon> &nbsp;
      <h2><span>מחיר:</span>
        {{ event.price | price }}
      </h2>
    </ion-row>

    <ion-row *ngIf="shouldExpand">
      <p [innerHtml]="event.description | linkify"></p>
    </ion-row>

    <!-- TODO: don't put this inside EventCard, create an expandable card component. -->
    <ion-item>
      <button ion-button color="dark" clear item-left (click)="expand()">
        <ion-icon name="ios-{{ shouldExpand ? 'arrow-up' : 'arrow-down' }}"></ion-icon>
        &nbsp; {{ shouldExpand ? 'פחות' : 'עוד' }}
      </button>
    </ion-item>

  </ion-card-content>
</ion-card>


