event-card {
  ion-row {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    ion-icon {
      display: inline-block;
      width: 10px;
      direction: ltr;
    }
    h2 {
      span {
        display: inline-block;
        width: 40px;
      }
    }
    p {
      padding-top: 1rem;
      white-space: pre-wrap;
      max-width: 100%;
      a.linkify {
        color: color($colors, secondary);
      }
    }
  }
}
