<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <ion-icon name="md-calendar"></ion-icon>
            Donight
        </ion-title>
        <ion-buttons end>
            <button ion-button round outline (click)="filterDate($event)">
                <ion-icon name="time"></ion-icon> &nbsp; {{ filters.dateRepr }}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <event-card *ngFor="let event of events" [event]="event"></event-card>
</ion-content>
