<ion-toolbar>
    <ion-buttons>
        <button ion-button round outline (click)="filterDate($event)">
            <ion-icon name="time"></ion-icon>
            &nbsp; {{ filters.dateRepr }}
        </button>
    </ion-buttons>
</ion-toolbar>
